body{
    margin-left: 50px;
    margin-right: 50px;
}

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid gainsboro;
}

#contenedor{
    display: flex;
    flex-direction: row;
}

#contenedorTable{
    margin-top: 50px;
    width: 70%; /* Reducir el ancho para permitir más espacio al div productosCarrito */
}

#cesta{
    width: 30%; /* Aumentar el ancho del contenedor del carrito */
    background-color: aliceblue;
    margin-top: 50px;
    margin-left: 30px;
}

.mitabla{
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th{
    padding: 10px; /* Reducir padding para hacer más estrechas las columnas */
    border-bottom: 3px solid gainsboro;
}

td{
    padding: 10px; /* Reducir padding para hacer más estrechas las columnas */
    border-bottom: 2px solid gainsboro;
}

.sku{
    font-size: 12px;
}

#unidadesPorArticulo {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 5px; /* Asegurar separación entre artículos */
}

#unidadesPorPrecioUnitario {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 5px; /* Asegurar separación entre precios */
}

#productosCarrito {
    border-bottom: 1px solid black;
    display: flex;              /* Alinear los elementos horizontalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;        /* Alinear verticalmente al centro */
    gap: 20px;                  /* Espacio entre los elementos (puedes ajustar el valor) */
}

#contenedorTotal {
    display: flex;              /* Alinear los elementos horizontalmente */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;        /* Alinear verticalmente al centro */
    gap: 20px;                  /* Espacio entre los elementos (puedes ajustar el valor) */
}

#totalFinal{
    padding-right: 10px;
}

#titulo, #tituloTotalFinal{
    padding-left: 10px;
}